.faceMocion {
    display: none;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 0px;
    box-sizing: border-box;
    background: white;
    color: white;
    position: absolute;
    width: auto;
    height: 50px;
    line-height: 25px;
    border-radius: 50px;
    transition: .25sease-in-out;
    color: black;
    border: 1px solid #eee;
    -webkit-box-shadow: 4px 4px 21px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 21px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 21px -9px rgba(0, 0, 0, 0.75);
}

.faceMocion div {
    margin-left: 8px;
    float: left;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.selectorFace {
    /*margin-left: 8px;
    float: left;*/
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.faceMocion div:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.face-angry {
    /*margin-left: 8px;
    float: left;*/
    width: 24px;
    height: 24px;
    background: url(sqhTN9lgaY1_24.png) 0 0;
}

.face-scare {
    background: url(sqhTN9lgaY1_24.png) 0 -24px; /*-48px;*/
}

.face-enjoy {
    background: url(sqhTN9lgaY1_24.png) 0 -48px; /*-96px;*/
}

.face-like {
    background: url(sqhTN9lgaY1_24.png) 0 -72px; /*-144px;*/
}

.face-love {
    background: url(sqhTN9lgaY1_24.png) 0 -96px; /*-192px;*/
}

.face-sad {
    background: url(sqhTN9lgaY1_24.png) 0 -120px; /*-240px;*/
}

.face-amaze {
    background: url(sqhTN9lgaY1_24.png) 0 -144px; /*-288px;*/
}

.face-glad {
    background: url(sqhTN9lgaY1_24.png) 0 -168px; /*-336px;*/
}

.MensajeTexto {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 3px;
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
}

.IconoPequenio {
    width: 24px;
    height: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
}